<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>

    <body>
        <% if(user != undefined) { %>
            <h1><%= user %></h1>

            <form action="/zastita_od_xss" method="POST">
                <fieldset>
                    <legend>Zaštita od xss</legend>
                    <input type="radio" name="zastita_od_xss" value="da">
                    <label for="da">Da</label><br>
                    <input type="radio" name="zastita_od_xss" value="ne">
                    <label for="ne">Ne</label><br>
    
                    <input type="submit" value="Postavi">
                </fieldset>
            </form>

            <br/>

            <form action="/zastita_od_csrf" method="POST">
                <fieldset>
                    <legend>Zaštita od csrf</legend>
                    <input type="radio" name="zastita_od_csrf" value="da">
                    <label for="da">Da</label><br>
                    <input type="radio" name="zastita_od_csrf" value="ne">
                    <label for="ne">Ne</label><br>
    
                    <input type="submit" value="Postavi">
                </fieldset>
            </form>

            <br/>

            <a href='/provjeri/<%= zastita_od_xss %>?q=<script>alert(document.cookie);</script>'>XSS</a> (<%= m %>)<br/><br/>

            <a href='http://localhost:3000'>CSRF</a> (<%= n %>)<br/><br/>

            <form action="/izbrisi" method="POST">
                <input type="hidden" name="csrf_token" value="220767bd72cb7b69823772573e852127"/>
                <input type="submit" value="Izbriši">
            </form>

            <br/>

            <form action="/odjava" method="POST">
                <input type="submit" value="Odjava">
            </form>
        <% } %>

        <% if(user == undefined) { %>
            <a href="/prijava">Prijava</a><br><br>
            <a href="/registracija">Registracija</a><br><br/>
        <% } %>
    </body>

    <script>
        document.cookie = "user=<%= user %>"
    </script>
</html>